#fu_permissions_table{
	border: 0px;
	text-align: center;
}

.share_access_checkbox{
	margin-left: 20px;
}

#fu_permissions_table thead tr:first-child{
	border-bottom: 1px solid #eae9e9;
}

#fu_permissions_table td{
	vertical-align: middle;
	padding: 8px !important;
	text-align: center !important;
}

#fu_permissions_table .spinner{
	position: absolute;
	margin-top: -10px;
}

@media (min-width: 768px) and (max-width: 991px) {
  #custom-width-fr-table{
	width: 170px !important;
  }
}

@media (max-width: 767px) {
  #custom-width-fr-table{
	width: 100px !important;
  }
}

span[id^="share_access_id_"], span[id^="share_writable_id_"]{
	margin: 0 auto;
}

.stale_user_icon{
	background: url(../themes/default/images/icon_user_warning.png) no-repeat;
	width: 20px;
	height: 22px;
	position: absolute;
	margin-top: 6px;
	margin-left: 6px;
	transform: scale(0.9, 0.9);
	-ms-transform: scale(0.9, 0.9);
	-webkit-transform: scale(0.9, 0.9);
}
